.todo-list {
  
  li {
    list-style: none;
    display: flex;
    app-todo {
      width: 100%;
    }
    button {
      width: 25px;
      height: 25px;
      text-align: center;
      vertical-align: middle;
    }
  }
  
  ul {
    padding-left: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
}